name: Documentation

on: [push, pull_request]

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - name: Install dependencies
        run: pip install sphinx sphinx_rtd_theme sphinx-prompt
      - name: Build Sphinx for release
        if: ${{ github.ref == 'refs/heads/master' }}
        run: sphinx-build -b html doc/source _build
      - name: Build Sphinx for pull request
        if: ${{ github.ref != 'refs/heads/master' }}
        run: sphinx-build -W -n -b html doc/source _build
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/
          force_orphan: true
